/* Card Styles */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 15px;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}

.card-footer {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    justify-content: space-between;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.additional-info {
    transition: opacity 0.5s ease;
}

.additional-info.d-none {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.pass_info {
    font-size: 13px;
}

body {
    background-color: rgba(245, 222, 179, 0.5);
}

.logout {
    justify-content: center !important;
    text-align: center !important;
}

.card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

/* Responsive Design */
@media (max-width: 767px) {
    .card {
        width: 100%;
    }
}


@media (max-width: 300px) {
    .logout {
        margin: 0 auto;
    }
}